<!DOCTYPE html>
<html lang="en">

<%- include('components/header.ejs') %>

<body>
    <%- include("components/nav.ejs") %>

    <div class="postFormContainer">
        <% if(errors.length > 0) { %>
        <div class="errors errors-helper">
            <% errors.forEach(error => {  %>
            <span class="error"><%= error.msg %></span>
            <% }) %>
        </div>
        <% } %>
        <%- include('components/authorForm.ejs') %>
    </div>

</body>
<script>

    let imageName1 = document.getElementById('imageLabel1');
    const label1 = document.querySelector('.fileLabel1');
    imageName1.addEventListener("change", () => {
        let val1 = imageName1.value;
        let split1 = val.split1("\\");
        let index1 = split1.length - 1;
        label.innerText = split1[index1]
    })

</script>

</html>